body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    width: 1920px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

.product{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.productImg{
    width: 600px;
    height: 600px;
}